@model Tracking.Web.Models.ViewModel.FilterViewModel

<fieldset>
    <legend class="legend">Legal entity</legend>
    <hr>
    @for (int i = 0; i < Model.LegalEntities.Count; i++)
    {
        <label for="@("legalEntry"+i)">
            <input id="@("legalEntry"+i)" type="checkbox" onchange="Filter('@("legalEntry"+i)')" />
            <span class="checkbox"></span>
            <span value="@("legalEntry"+i)">@Model.LegalEntities[i]</span>
        </label><br>
    }
</fieldset>
<fieldset>
    <legend class="legend">Owner azione correttiva</legend>
    <hr>
    @for (int i = 0; i < Model.Owners.Count; i++)
    {
        <label for="@("correctiveAction"+i)">
            <input id="@("correctiveAction"+i)" type="checkbox" onchange="Filter('@("correctiveAction"+i)')" />
            <span class="checkbox"></span>
            <span value="@("correctiveAction"+i)">@Model.Owners[i]</span>
        </label><br>
    }
</fieldset>
<fieldset>
    <legend class="legend">Stato azione correttiva</legend>
    <hr>
    @for (int i = 0; i < Model.Statuses.Count; i++)
    {
        <label for="@("actionStatus" + i)">
            <input id="@("actionStatus" + i)" type="checkbox" onchange="Filter('@("actionStatus" + i)')" />
            <span class="checkbox"></span>
            <span value="@("actionStatus" + i)">@Model.Statuses[i]</span>
        </label><br>
    }
</fieldset>
<fieldset>
    <legend class="legend">Severità rilievo</legend>
    <hr>
    @for (int i = 0; i < Model.Severities.Count; i++)
    {
        <label for="@("relevance"+i)">
            <input id="@("relevance"+i)" type="checkbox" onchange="Filter('@("relevance"+i)')" />
            <span class="checkbox"></span>
            <span value="@("relevance"+i)">@Model.Severities[i]</span>
        </label><br>
    }
</fieldset>
