@model Tracking.Web.Models.ViewModel.SurveyViewModel

<div class="card">
    <div class="card-header">Attributi</div>
    <div class="card-item">
        <div>Denom. Legal Entity</div>
        <div class="bold legal-entity" id="LegalEntityName">@Model.LegalEntityName</div>
        <div>Cod. Legal Entity</div>
        <div class="bold" id="Cod_ABI">@Model.Cod_ABI</div>
        <div>Titolo Verifica</div>
        <div class="bold" id="intervTitle">@Model.InterventionName</div>
        <div>MRN</div>
        <div class="bold normativa norm" id="mrn">@Model.EvaluatedObject</div>
    </div>
    @if (@Model.Role == "Compliance")
    {
        <div class="edit-container">
            <a href="#" class="edit-all-dati-rilievo-btn" onclick="$('.normativa').trigger('custom_event');">
                <img src="~/images/edit.png" alt="edit">
            </a>
        </div>
    }
</div>