@model Survey

<div class="card">
    <div class="card-item card-info">
        <div class="card-id bold">
            <label>ID <span class="modelId">@Model.Id</span></label> |<label for="LegalEntity"><span id="LegalEntity">@Model.LegalEntityName</span> </label>
            <div class="id-info">
                <img src="~/images/info.png" alt="?" />
                <div class="card-popover">
                    <div class="popover-body">
                        Aggiornamenti non visualizzati
                    </div>
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
        <div class="card-title bold">
            @Model.Title
        </div>
        <div class="card-severity">
            Severità rilievo:
            <span class="severity-value bold">
                @Model.SurveySeverity
            </span>
        </div>
    </div>
    <div class="card-item card-action">
        <div class="content">
            <span class="action-title bold">Azione di mitigazione:</span>
            <span class="descr">@Model.ActionDescription</span>
            <span class="espandi" id="Espandi @Model.Id" onclick="EspandiText('@Model.Id')">Espandi</span>
            <span class="riduci" id="Riduci @Model.Id" onclick="RiduciText('@Model.Id')">Riduci</span>
        </div>
    </div>
    <div class="card-item card-status">
        <div>
            Scadenza rilievo:<span class="bold">@Model.DueDateLocal?.ToShortDateString()</span>
        </div>
        <div>
            Stato rilievo:<span class="bold">@Model.Status.Name</span>
        </div>
    </div>
    <div class="card-button">
       <a asp-controller="Home" asp-action="Show" asp-route-id="@Model.Id"> <img src="~/images/arrow.png" alt="go"/></a>
    </div>
</div>

