@model List<Note>

@foreach (var item in Model)
{
    <div>
        <div class="bold">@item.User.UserName</div>
        <div class="gray">@item.Date.ToString("dd/MM/yyy HH:mm:ss")</div>
    </div>
    <div>
        @item.Description
        @if (item.File != null)
        {
            <div class="blue">
                <img class="clip" src="~/images/clip-blue.png">
                <a asp-controller="File" asp-action="Download" asp-route-fileName="@item.File.Title">@item.File.Title</a>
            </div>
        }
    </div>
}