@model Tracking.Web.Models.ViewModel.SurveyViewModel

@{
    ViewData["Title"] = "Survey";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<div class="big-label">
    <h2>
        Elenco rilievi/azioni di mitigazione
    </h2>
</div>
<div class="main-content">
    <div class="card">
        <div class="card-header">Dati rilievo</div>
        <div class="card-item">
            <div>Severità</div>
            <div class="bold edit dati-rilievo" id="SurveySeverity">@Model.SurveySeverity</div>
        </div>
        <div class="card-item">
            <div>Titolo</div>
            <div class="bold edit dati-rilievo" id="Title">@Model.Title</div>
            <div>ID</div>
            <div class="bold" id="Id">@Model.Id</div>
        </div>
        <div class="card-item">
            <div>Utente Censimento</div>
            <div class="bold edit dati-rilievo" id="UserName">@Model.UserName</div>
            <div>Validatore</div>
            <div class="bold edit dati-rilievo" id="ValidatorAttribute">@Model.ValidatorAttribute</div>
        </div>
        <div class="card-item description">
            <div>Descrizione</div>
            <div class="bold edit dati-rilievo full-line" id="Description">
                @Model.Description
            </div>
        </div>
        <div class="edit-container">
            <a href="#" id="description-edit" class="edit-all-dati-rilievo-btn" onclick="$('.dati-rilievo').trigger('custom_event');">
                <img src="~/images/edit.png" alt="edit">
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Legal entity</div>
        <div class="card-item">
            <div>Denom. Legal Entity</div>
            <div class="bold">@Model.LegalEntity.Name</div>
            <div>Cod. Legal Entity</div>
            <div class="bold">@Model.LegalEntity.Id</div>
        </div>
        <div class="edit-container">
            <img src="~/images/edit.png" alt="edit">
        </div>
    </div>

    <div class="card">
        <div class="card-header">Normativa</div>
        <div class="card-item">
            <div>Area Normativa</div>
            <div class="bold">@Model.SrepCluster</div>
            <div>Macro Requisito Normativo</div>
            <div class="bold">@Model.ScrepArea</div>
        </div>
        <div class="edit-container">
            <img src="~/images/edit.png" alt="edit">
        </div>
    </div>

    <div class="card">
        <div class="card-header">Azione di mitigazione</div>
        <div class="card-item">
            <div>Owner</div>
            <div class="bold">@Model.ActionOwner</div>
        </div>
        <div class="card-item description">
            <div>Descrizione</div>
            <div class="bold full-line">
                @Model.ActionDescription
            </div>
        </div>
        <div class="edit-container">
            <img src="~/images/edit.png" alt="edit">
        </div>
    </div>

    <div class="controls">
        <div class="bold">Stato</div>
        <select asp-for="StatusId" asp-items="@Model.Statuses"></select>

        <div class="bold">Nuova Data Scadenza</div>
        <input type="date" id="dueDateLocal" asp-for="DueDateLocal">

        <div class="bold align-top">Storico note</div>

        <div class="notes full-line" id="notesList"></div>
        @Html.Partial("AddNotePartial", Model.Note)

        <div class="button-container">
            <input type="button" value="ANNULLA" id="annulla">
            <input type="button" class="primary" value="SALVA" id="salva">
        </div>
    </div>
</div>    
    @section scripts{
        <script>
        window.onload = function () {
            $('#fileName').children().remove();
            $('textarea').val('');
            $('textarea').attr("placeholder", "Note").val('');

            GetNotes();

            $('#surveyId').val(@Model.Id);
        }

        $('#attachfile').change(function (e) {
            var fileName = e.target.files[0].name;
            $('#fileName').append('<div class="blue"> ' + fileName + '</div>');
        });

        $('#annulla').click(function () {
            $('#fileName').children().remove();
            $('textarea').val('');
            $('textarea').attr("placeholder", "Note").val('');
        });

        $('#salva').click(function () {


        });

        var dueDateOriginal;
        $('#dueDateLocal').change(function () {
             dueDateOriginal = document.getElementById('dueDateLocal').value;
             console.log(dueDateOriginal);
        });

        function CreateNote() {
            var form = $("#formNote");
            var formData = new FormData();
            formData.append('Description', $('textarea').val());
            formData.append('File', $('#attachfile')[0].files[0]);
            formData.append('SurveyId', @Model.Id);
            formData.append('Description', $('textarea').val());
            formData.append('SurveyId', @Model.Id);

            $.ajax({
                type: "POST",
                url: "/Home/AddNote",
                processData: false,
                contentType: false,
                data: formData,
                success: GetNotes
            })
        }

        function GetNotes() {
            $.ajax({
                url: "/Home/Notes?id=" + @Model.Id,
                type: "Get",
                success: GetAllNotesSuccess
            })
        }

        function GetAllNotesSuccess(data) {
            $('#notesList').html(data);
            $('#fileName').children().remove();
            $('textarea').val('');
            $('textarea').attr("placeholder", "Note").val('');
        }
        </script>
    }
